extends ../admin_layout
block adminDependencies
    - js = ["/js/build/dashboard.js", "https://cdn.jsdelivr.net/gh/rmm5t/jquery-timeago@180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
    - jsSnippets = [`loadRecentActionsIntoContainer($("#actions-ctn"), null, ${modOnly})`];
block adminContent
    h1.page-header #{title}
    #actions-ctn