<%- include('../admin_header.html') -%>
<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="users-online"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4>Users online</h4>
        <span class="text-muted">right now</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="new-accounts"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4>New accounts</h4>
        <span class="text-muted">in the last 24 hours</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="pixels-placed"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4>Pixels placed</h4>
        <span class="text-muted">in the last 24 hours</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="pixels-placed-2"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4>Pixels placed</h4>
        <span class="text-muted">per minute<br><small>(averaged from last 20 minutes)</small></span>
    </div>
</div>

<div class="section-heading">
    <h2 class="sub-header">Recent actions</h2>
    <a href="/admin/actions">See all &raquo;</a>
</div>
<h4>eta son</h4>
<!--<div class="table-responsive">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
        <th>Header</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1,001</td>
        <td>Lorem</td>
        <td>ipsum</td>
        <td>dolor</td>
        <td>sit</td>
    </tr>
    <tr>
        <td>1,002</td>
        <td>amet</td>
        <td>consectetur</td>
        <td>adipiscing</td>
        <td>elit</td>
    </tr>
    <tr>
        <td>1,003</td>
        <td>Integer</td>
        <td>nec</td>
        <td>odio</td>
        <td>Praesent</td>
    </tr>
    <tr>
        <td>1,003</td>
        <td>libero</td>
        <td>Sed</td>
        <td>cursus</td>
        <td>ante</td>
    </tr>
    <tr>
        <td>1,004</td>
        <td>dapibus</td>
        <td>diam</td>
        <td>Sed</td>
        <td>nisi</td>
    </tr>
    <tr>
        <td>1,005</td>
        <td>Nulla</td>
        <td>quis</td>
        <td>sem</td>
        <td>at</td>
    </tr>
    <tr>
        <td>1,006</td>
        <td>nibh</td>
        <td>elementum</td>
        <td>imperdiet</td>
        <td>Duis</td>
    </tr>
    <tr>
        <td>1,007</td>
        <td>sagittis</td>
        <td>ipsum</td>
        <td>Praesent</td>
        <td>mauris</td>
    </tr>
    <tr>
        <td>1,008</td>
        <td>Fusce</td>
        <td>nec</td>
        <td>tellus</td>
        <td>sed</td>
    </tr>
    <tr>
        <td>1,009</td>
        <td>augue</td>
        <td>semper</td>
        <td>porta</td>
        <td>Mauris</td>
    </tr>
    <tr>
        <td>1,010</td>
        <td>massa</td>
        <td>Vestibulum</td>
        <td>lacinia</td>
        <td>arcu</td>
    </tr>
    <tr>
        <td>1,011</td>
        <td>eget</td>
        <td>nulla</td>
        <td>Class</td>
        <td>aptent</td>
    </tr>
    <tr>
        <td>1,012</td>
        <td>taciti</td>
        <td>sociosqu</td>
        <td>ad</td>
        <td>litora</td>
    </tr>
    <tr>
        <td>1,013</td>
        <td>torquent</td>
        <td>per</td>
        <td>conubia</td>
        <td>nostra</td>
    </tr>
    <tr>
        <td>1,014</td>
        <td>per</td>
        <td>inceptos</td>
        <td>himenaeos</td>
        <td>Curabitur</td>
    </tr>
    <tr>
        <td>1,015</td>
        <td>sodales</td>
        <td>ligula</td>
        <td>in</td>
        <td>libero</td>
    </tr>
    </tbody>
</table>
</div>-->
<%- include('../admin_footer.html', {
    js: ["/js/build/admin_dashboard.js", "https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"]
}) -%>