<%- include("../admin_header.html") -%>
<% var jsSnippets = [`loadRecentActionsIntoContainer($("#actions-ctn"), 10, false, false)`]; %>
<h1 class="page-header"><%= __('admin_dashboard') %></h1>
<!-- Status Updates -->
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="users-online"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4><%= __('admin_dashboard_users_online') %></h4>
        <span class="text-muted"><%= __('admin_dashboard_right_now') %></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="new-accounts"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4><%= __('admin_dashboard_new_accounts') %></h4>
        <span class="text-muted"><%= __('admin_dashboard_last_24hr') %></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="pixels-placed"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4><%= __('pixels_placed') %></h4>
        <span class="text-muted"><%= __('admin_dashboard_last_24hr') %></span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="admin-stat" id="pixels-placed-2"><span><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
        <h4><%= __('pixels_placed') %></h4>
        <span class="text-muted"><%= __('admin_dashboard_per_minute') %><br><small><%= __('admin_dashboard_last_20m') %></small></span>
    </div>
</div>
<% if(user.admin) { %>
<!-- Administrator Actions -->
<div class="section-heading">
    <h2 class="sub-header"><%= __('admin_actions') %></h2>
</div>
<div id="admin-actions" class="content"><%= __('loading') %></div>
<% jsSnippets.push(`$("#admin-actions").html(renderServerActions())`) %>
<% } %>
<!-- Recent Actions -->
<div class="section-heading">
    <h2 class="sub-header"><%= __('admin_recent_actions') %></h2>
    <a href="/admin/actions"><%= __('see_all') %> &raquo;</a>
</div>
<div id="actions-ctn" class="dashboard-actions-ctn compact"></div>
<% if(user.admin) { %>
<div class="modal fade" id="broadcastModal" tabindex="-1" role="dialog" aria-labelledby="broadcastModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form-horizontal" id="broadcastForm">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="broadcastModalLabel"><%= __('admin_dashboard_broadcast') %></h4>
        </div>
        <div class="modal-body">
            <p><%= __('admin_dashboard_broadcast_caption') %></p>
            <div class="form-group">
                <label for="inputBroadcastTitle" class="col-sm-2 control-label"><%= __('title') %></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputBroadcastTitle" placeholder="<%= __('title') %> <%= __('optional') %>">
                </div>
            </div>
            <div class="form-group">
                <label for="inputBroadcastMessage" class="col-sm-2 control-label"><%= __('message') %></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputBroadcastMessage" placeholder="<%= __('message') %>">
                </div>
            </div>
            <div class="form-group">
                <label for="inputBroadcastStyle" class="col-sm-2 control-label"><%= __('admin_dashboard_broadcast_style') %></label>
                <div class="col-sm-10">
                    <select id="inputBroadcastStyle" class="selectpicker form-control">
                        <option value="info"><%= __('admin_dashboard_broadcast_style_informative') %></option>
                        <option value="success"><%= __('admin_dashboard_broadcast_style_success') %></option>
                        <option value="warning"><%= __('admin_dashboard_broadcast_style_warning') %></option>
                        <option value="danger"><%= __('admin_dashboard_broadcast_style_danger') %></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputBroadcastTimeout" class="col-sm-2 control-label"><%= __('admin_dashboard_broadcast_timeout') %></label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputBroadcastTimeout" placeholder="<%= __('admin_dashboard_broadcast_timeout') %>" value="0" aria-describedby="inputBroadcastTimeoutHelpBlock">
                    <span id="inputBroadcastTimeoutHelpBlock" class="help-block"><%= __('admin_dashboard_timeout_caption') %> <strong><%= __('admin_dashboard_timeout_caption_1') %></strong> <%= __('admin_dashboard_timeout_caption_2') %></span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('cancel') %></button>
            <button type="submit" class="btn btn-primary"><%= __('admin_dashboard_broadcast_submit') %></button>
        </div>
        </form>
    </div>
  </div>
</div>
<% } %>
<%- include("../admin_footer.html", {
    js: ["/js/build/admin_dashboard.js", "https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"],
    jsSnippets: jsSnippets
}) -%>