<%- include('../admin_header.html', {
    css: ['https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css']
}) -%>
<div class="page-header">
    <h1>Similar Accounts</h1>
    <p class="lead">Accounts identified to be similar to '<%- target.name -%>'.</p>
</div>
<div id="data">
    <div id="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading similar accounts...</i></div>
    <div id="target-ctn"></div><br>
    <div id="similar-ctn">
        <div class="heading"></div>
        <div class="user-list" id="similar"></div>
    </div>
</div>
<script>var userID = "<%- target._id -%>";</script>
<%- include('../admin_footer.html', {
    js: ["https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js", "/js/build/admin_similar_users.js"]
}) -%>