<%- include('../admin_header.html', {
    css: ['/css/dataTables.bootstrap.min.css']
}) -%>
<div class="page-header">
    <h1>Similar Accounts</h1>
    <p class="lead">Accounts identified to be similar to '<%- target.name -%>'.</p>
    <a href="/admin/users">&laquo; Back to users</a>
</div>
<div id="data">
    <div id="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Loading similar accounts...</div>
    <div id="target-ctn"></div><br>
    <div id="similar-ctn">
        <div class="heading"></div>
        <div class="user-list" id="similar"></div>
    </div>
</div>
<script>var userID = "<%- target._id -%>";</script>
<%- include('../admin_footer.html', {
    js: ["/js/jquery.timeago.js", "/js/build/admin_similar_users.js"]
}) -%>