<%- include("../admin_header.html", {
    css: ["https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"]
}) -%>
<h1 class="page-header">Users</h1>
<table class="table" id="users">
    <thead>
    <tr>
        <th>Username</th>
        <th>Account Created</th>
        <th>Last Place</th>
        <th>Total Places</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <th>Username</th>
        <th>Account Created</th>
        <th>Last Place</th>
        <th>Total Places</th>
        <th>Actions</th>
    </tbody>
</table>
<%- include("../admin_footer.html", {
    js: ["https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js", "https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js", "/js/build/admin_users.js"]
}) -%>