<%- include('../admin_header.html', {
    css: ['/css/dataTables.bootstrap.min.css']
}) -%>
<h1 class="page-header">Users</h1>
<table class="table table-striped" id="users">
    <thead>
    <tr>
        <th>Username</th>
        <th>Account Created</th>
        <th>Last Place</th>
        <th>Total Places</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <th>Username</th>
        <th>Account Created</th>
        <th>Last Place</th>
        <th>Total Places</th>
        <th>Actions</th>
    </tbody>
</table>
<%- include('../admin_footer.html', {
    js: ["/js/jquery.dataTables.js", "/js/dataTables.bootstrap.min.js", "/js/build/admin_users.js"]
}) -%>