<%- include("../admin_header.html", {
    css: ["https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"]
}) -%>
<h1 class="page-header"><%= __('admin_users') %></h1>
<table class="table table-striped" id="users">
    <thead>
    <tr>
        <th><%= __('username') %></th>
        <th><%= __('joined') %></th>
        <th><%= __('last_placed') %></th>
        <th><%= __('pixels_placed') %></th>
        <th><%= __('moderator_tools_actions') %></th>
    </tr>
    </thead>
    <tbody>
        <th><%= __('username') %></th>
        <th><%= __('joined') %></th>
        <th><%= __('last_placed') %></th>
        <th><%= __('pixels_placed') %></th>
        <th><%= __('moderator_tools_actions') %></th>
    </tbody>
</table>
<%- include("../admin_footer.html", {
    js: ["https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js", "https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js", "/js/build/admin_users.js"]
}) -%>