<div id="pixel-data-ctn">
    <div class="pixel-data">
        <div class="summary">
            <span class="intro">Pixel placed by</span>
            <div class="contents">
                <div class="user-summary">
                    <span class="username" id="pixel-data-username"></span>
                    <time class="timeago" id="pixel-data-time"></time>
                </div>
                <div class="pixel-coordinates">
                    <div class="contents">
                        <div class="field">
                            <span class="title">X</span>
                            <span class="value" id="pixel-data-x"></span>
                        </div>
                        <div class="field">
                            <span class="title">Y</span>
                            <span class="value" id="pixel-data-y"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info">
            <div class="field">
                <span class="title">Total tiles placed</span>
                <span class="value" id="pixel-data-user-tile-count"></span>
            </div>
            <div class="field">
                <span class="title">Account created</span>
                <time class="value timeago" id="pixel-data-user-account-date"></time>
            </div>
            <div class="field">
                <span class="title">Last placed</span>
                <span class="value timeago" id="pixel-data-user-last-place"></span>
            </div>
        </div>
    </div>
</div>