<div id="pixel-data-ctn">
    <div class="pixel-data">
        <div class="summary">
            <span class="intro">Pixel placed by</span>
            <div class="contents">
                <div class="user-summary">
                    <div class="username-container">
                        <div class="username-text-ctn"><a class="username" id="pixel-data-username"></a> <div id="user-actions-dropdown-ctn"></div></div>
                        <span class="label label-warning badge-label" id="pixel-badge"></span>
                        <span class="label label-danger badge-label" id="pixel-user-state-badge"></span>
                    </div>
                    <div class="rank-container">
                        <span class="label label-info rank-label badge-label" id="pixel-rank-badge"></span>
                    </div>
                    <time class="timeago" id="pixel-data-time"></time>
                </div>
                <div class="pixel-coordinates">
                    <div class="contents">
                        <div class="field">
                            <span class="title">X</span>
                            <span class="value" id="pixel-data-x"></span>
                        </div>
                        <div class="field">
                            <span class="title">Y</span>
                            <span class="value" id="pixel-data-y"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info"></div>
    </div>
</div>