#floating-alert-ctn
#place
    +getViewExtensions("place")
    #loading
        .content
            img.icon(src="https://assets.dynastic.co/brand/img/icon-256.png", height="75")
            span.text Loading…
    .canvas-container
        include pixel-data
        .button-ctn
            .popout-btns
                .popout-control.control.btn.btn-default(data-tab-name="chat"): i.fa.fa-comments.fa-fw
                .popout-control.control.btn.btn-default(data-tab-name="leaderboard"): i.fa.fa-trophy.fa-fw
                if user
                    .popout-control.control.btn.btn-default(data-tab-name="achievements"): i.fa.fa-star.fa-fw
                .popout-control.control.btn.btn-default(data-tab-name="active-users"): i.fa.fa-users.fa-fw
            .control-btns
                .control.btn.btn-success#grid-button
                .btn-group(role="group", aria-label="Zoom")
                    .control.btn.btn-primary#zoom-button
                    .control.btn.btn-primary#zoom-slider-ctn: input#zoom-slider(data-slider-id='zoomSlider', type="text", data-slider-tooltip="hide")

        #colour-picker-popover-ctn
        #colour-picker-popover
            style#popover-styling
            #colour-picker
            .colour-info.field
                span.title Hex
                input.value#colour-picker-hex-value(value="#D66668", maxlength="7", autocomplete="off", autocorrect="off", autocapitalizae="off", spellcheck="false", tabindex="-1")
        #grid
        #grid-hint
        #palette-ctn
            .ctn-row
                .content.compact
                    if user
                        button#palette-expando.section.clickable
                            i.fa.fa-chevron-up
                    #user-count.section.clickable(style="display: none;")
                        i.fa.fa-user.fa-fw
                        span.count
                        i.fa.fa-circle-o-notch.fa-spin.fa-fw.loading
                    button#coordinates.section(style="display: none;")
                        i.fa.fa-map-marker.fa-fw
                        .
                            (#[span], #[span])
            .ctn-row
                .content#palette
                    #menu-content-ctn
                        .menu-section
                            span.menu-heading Templates
                            #templates-ctn Loading templates…
                        .menu-section
                            span.menu-heading Warps
                            #warps-ctn Loading warps…
                    #palette-content-ctn
                        .overlay#sign-in-reminder
                            span #[a#overlay-sign-in(data-place-trigger="openSignInDialog", href="javascript:void(0)") Sign in] or #[a#overlay-sign-up(data-place-trigger="openSignUpDialog", href="javascript:void(0)") sign up] to start placing!
                        .overlay#placing-modal Placing…
                        .overlay#place-timer: span
                        .overlay#availability-loading-modal
        canvas#place-canvas(height="100%", width="100%")
        #zoom-controller
            #camera-controller
                #template-images
                canvas#place-canvas-draw(height=config.boardSize, width=config.boardSize)
    include popout-container