<div id="floating-alert-ctn"></div>
<div id="place">
    <div id="loading">
        <div class="content">
            <img src="https://www.dynastic.co/img/dd-big.png" height="75" class="icon">
            <span class="text">Loading…</span>
        </div>
    </div>
    <div class="canvas-container">
        <%- include("pixel_data.html") %>
        <div class="button-ctn">
            <div class="popout-btns">
                <div class="popout-control control btn btn-default" data-tab-name="chat"><i class="fa fa-comments fa-fw"></i></div>
                <div class="popout-control control btn btn-default" data-tab-name="leaderboard"><i class="fa fa-trophy fa-fw"></i></div>
                <div class="popout-control control btn btn-default" data-tab-name="achievements"><i class="fa fa-star fa-fw"></i></div>
                <div class="popout-control control btn btn-default" data-tab-name="active-users"><i class="fa fa-users fa-fw"></i></div>
            </div>
            <div class="control-btns">
                <div id="full-map-button" class="control btn btn-warning show-in-full-mode"></div>
                <div id="grid-button" class="control btn btn-success"></div>
                <div id="zoom-button" class="control btn btn-primary"></div>
            </div>
        </div>
        <div id="grid"></div>
        <div id="grid-hint"></div>
        <div id="palette-ctn">
            <div class="ctn-row">
                <div id="user-count" class="content compact clickable" style="display: none;"><i class="fa fa-user fa-fw"></i><span class="count"></span><i class="fa fa-circle-o-notch fa-spin fa-fw loading"></i></div>
                <button id="coordinates" class="content compact" style="display: none;"><i class="fa fa-map-marker fa-fw"></i>(<span></span>, <span></span>)</button>
            </div>
            <div class="ctn-row">
                <div id="palette" class="content">
                    <div class="overlay" id="sign-in-reminder">
                        <span><a href="/signin?redirectURL=<%= redirectURLPart %>" id="overlay-sign-in">Sign in</a> or <a href="/signup?redirectURL=<%= redirectURLPart %>" id="overlay-sign-up">sign up</a> to start placing!</span>
                    </div>
                    <div class="overlay" id="placing-modal">
                        <span>Placing…<span>
                    </div>
                    <div class="overlay" id="place-timer"><span></span></div>
                </div>
            </div>
        </div>
        <canvas id="place-canvas" height="100%" width="100%"></canvas>
        <div id="zoom-controller">
            <div id="camera-controller">
                <canvas id="place-canvas-draw" height="1400" width="1400"></canvas>
            </div>
        </div>
    </div>
    <%- include("popout-container.html") -%>
</div>