if typeof config.oauth !== "undefined"
    if Object.keys(config.oauth).find((key) => config.oauth[key].enabled)
        .separator
    .oauth-buttons
        if config.oauth.dynastic && config.oauth.dynastic.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-dynastic(href="/auth/dynastic", title="Sign in with Dynastic Account"): img(src="https://assets.dynastic.co/brand/img/icon-32.png", width="21")
        if config.oauth.google.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-google(href="/auth/google", title="Sign in with Google"): span.fa.fa-google
        if config.oauth.reddit.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-reddit(href="/auth/reddit", title="Sign in with Reddit"): span.fa.fa-reddit-alien
        if config.oauth.discord.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-discord(href="/auth/discord", title="Sign in with Discord"): img(src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png", width="15")
        if config.oauth.twitter.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-twitter(href="/auth/twitter", title="Sign in with Twitter"): span.fa.fa-twitter
        if config.oauth.github.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-github(href="/auth/github", title="Sign in with GitHub"): span.fa.fa-github
        if config.oauth.facebook.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-facebook(href="/auth/facebook", title="Sign in with Facebook"): span.fa.fa-facebook
        if config.oauth.microsoft.enabled
            a.btn.btn-popping.btn-popping-alt.btn-oauth.btn-oauth-microsoft(href="/auth/microsoft", title="Sign in with Microsoft account"): span.fa.fa-windows