<% if(typeof config.oauth !== "undefined") { %>
<% if (Object.keys(config.oauth).find((key) => config.oauth[key].enabled)) { %>
<div class="separator"></div>
<% } %>
<% if (config.oauth.google.enabled) { %>
<a href="/auth/google" class="btn btn-popping btn-popping-alt btn-oauth btn-oauth-google" title="Sign in with Google">
<span class="fa fa-google"></span>
</a>
<% } %>
<% if (config.oauth.reddit.enabled) { %>
<a href="/auth/reddit" class="btn btn-popping btn-popping-alt btn-oauth btn-oauth-reddit" title="Sign in with Reddit">
<span class="fa fa-reddit"></span>
</a>
<% } %>
<% if (config.oauth.discord.enabled) { %>
<a href="/auth/discord" class="btn btn-popping btn-popping-alt btn-oauth btn-oauth-discord" title="Sign in with Discord">
<img src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png">
</a>
<% } %>
<% if (config.oauth.twitter.enabled) { %>
<a href="/auth/twitter" class="btn btn-popping btn-popping-alt btn-oauth btn-oauth-twitter" title="Sign in with Twitter">
<span class="fa fa-twitter"></span>
</a>
<% } %>
<% if (config.oauth.github.enabled) { %>
<a href="/auth/github" class="btn btn-popping btn-popping-alt btn-oauth btn-oauth-github" title="Sign in with GitHub">
<span class="fa fa-github"></span>
</a>
<% } %>
<% if (config.oauth.facebook.enabled) { %> 
<a href="/auth/facebook" class="btn btn-popping btn-popping-alt btn-oauth btn-oauth-facebook" title="Sign in with Facebook">
<span class="fa fa-facebook"></span>
</a>
<% } %>
<% } %>
