extends ../admin_layout
block adminDependencies
    - var css = ["https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css"];
    - var js = ["https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js", "https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js", "/js/build/admin_users.js"];
block adminContent
    h1.page-header Users
    table.table#users
        thead
            tr
                th Username
                th Account Created
                th Last Place
                th Total Places
                th Actions
        tbody
            th ------
            th ---- -- --, -- -- -- --
            th ---- -- --, -- -- -- --
            th --
            th ...