.dialog-ctn
    .dialog-overlay
    .dialog.dialog-md#beta-dialog
        .close &times;
        .pages
            .active(tab-name="enroll")
                .heading.no-margin
                    span.site #{config.siteName}
                    h1 Join the Beta Program
                    p.subhead Live on the bleeding edge, and help us test features before they go live.
                .content
                    p Want to help us test features and get early access to them? Join the beta program and receive new features before everyone else does. We'll give you access to our latest feature set, and all you have to do is provide feedback so that we can make sure these features are great before releasing them to everyone.
                    button.btn.btn-lg.btn-success#signup Sign up
                    br
        .dialog-footer.align-end: a.btn.btn-popping(data-dialog-dismiss=true) Close