#pixel-data-ctn
    .pixel-data
        .summary
            span.intro Pixel placed by
            .contents
                .user-summary
                    .username-container
                        .username-text-ctn #[a.username#pixel-data-username] #[div#user-actions-dropdown-ctn]
                    .rank-container
                    time.timeago#pixel-data-time
                .pixel-coordinates
                    .contents
                        .field
                            span.title X
                            span.value#pixel-data-x
                        .field
                            span.title Y
                            span.value#pixel-data-y
        .pixel-colour.clearfix
            .left.field.colour-info
                span.title HEX
                span.value #[span#pixel-colour-code] #[div.colour-preview#pixel-colour-preview]
            .right
                a.btn.btn-popping.btn-arrow#pixel-use-colour-btn Use
        .user-info