extends layout
mixin renderAdminNavItem(name, itemPath)
    - var isCurrentPage = itemPath == path;
    li(class=(isCurrentPage ? "active": ""))
        a(href=itemPath)
            .
                #{name}
            if isCurrentPage
                span.sr-only (current)
block dependencies
    block adminDependencies
    - if (typeof pageTitle === "undefined") pageTitle = null;
    - if (typeof user === "undefined") user = null;
    - var userAdmin = user ? user.admin : false;
    - var pageTitle = !!pageTitle ? pageTitle + " &middot; Admin" : "Admin";
    - var css = ["/css/dashboard.css", "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"].concat(typeof css === "undefined" ? [] : css);
    - var js = ["https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"].concat(typeof js === "undefined" ? [] : js);
    - var isAdmin = true;
block content
    .container-fluid
        .row
            .col-sm-3.col-md-2.sidebar
                ul.nav.nav-sidebar
                    +renderAdminNavItem("Dashboard", "/admin/")
                    +renderAdminNavItem("Recent Actions", "/admin/actions")
                    +renderAdminNavItem("Moderator Log", "/admin/log")
                ul.nav.nav-sidebar
                    +renderAdminNavItem("Users", "/admin/users")
                    +renderAdminNavItem("Reports", "/admin/reports")
                    +renderAdminNavItem("Pixels", "/admin/pixels")
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                block adminContent