<%
if(typeof pageTitle === "undefined") pageTitle = null;
if(typeof user === "undefined") user = null;
var userAdmin = user ? user.admin : false;
var renderNavItem = function(name, itemPath) {
    let isCurrentPage = itemPath == path;
    return `<li ${isCurrentPage ? " class=\"active\"" : ""}>` +
    `<a href="${itemPath}">${name} ${isCurrentPage ? " <span class=\"sr-only\">(current)</span>" : ""}</a>` +
    "</li>";
}
%>
<%- include("header.html", {
    pageTitle: !!pageTitle ? pageTitle + " &middot; " + __('admin') : __('admin'),
    css: ["/css/dashboard.css", "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"].concat(typeof css === "undefined" ? [] : css),
    isAdmin: true
}) -%>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <%- renderNavItem(__('admin_dashboard'), "/admin/"); %>
                <%- renderNavItem(__('admin_recent_actions'), "/admin/actions"); %>
                <%- renderNavItem(__('admin_modlog'), "/admin/log"); %>
            </ul>
            <ul class="nav nav-sidebar">
                <%- renderNavItem(__('admin_users'), "/admin/users"); %>
                <%- renderNavItem(__('admin_reports'), "/admin/reports"); %>
                <%- renderNavItem(__('admin_pixels'), "/admin/pixels"); %>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">