- if(typeof isAdmin === "undefined") isAdmin = false;
- if(typeof needsLegit === "undefined") needsLegit = false;
- if(typeof user === "undefined") user = null;
- if(typeof js === "undefined" || !js) js = [];
- if(typeof jsSnippets === "undefined" || !jsSnippets) jsSnippets = [];
- var userAdmin = user ? user.admin : false, userMod = user ? user.moderator || userAdmin : false;
- if(userMod) { js.unshift("/js/bootbox.min.js"); js.unshift("/js/build/mod_tools.js");}
- if(typeof jsModSnippets === "undefined" || !jsModSnippets || !userMod) jsModSnippets = [];
- js = resources.js.concat(js);
footer.footer
    .container.row-fluid
        .col-xs-6
            p.text-muted &copy; Dynastic Development
        .col-xs-6.right
            p: ul.footer-links
                if hasTOS
                    li: a(href="/tos") Terms of Service
                if hasCommunityGuidelines
                    li: a(href="/guidelines") Rules
                if hasPP
                    li: a(href="/privacy") Privacy Policy
    +getViewExtensions("footer")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
script(src="https://cdn.ravenjs.com/3.17.0/raven.min.js", crossorigin="anonymous")
script.
    Raven.config('https://d067712e632c4c36a3ab1ffe4b540833@sentry.io/183264').install();
    window.onerror = function() { if (Raven.isSetup()) Raven.showReportDialog(); }
script(src="/js/build/site.js")
each item in [...new Set(js)]
    script(src=item)
each item in [...new Set(jsSnippets.concat(jsModSnippets))]
    script !{item}
if typeof config.googleAnalyticsTrackingID !== "undefined" && config.googleAnalyticsTrackingID !== null && config.googleAnalyticsTrackingID != ""
    script.
        (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

        ga("create", "#{config.googleAnalyticsTrackingID}", "auto");
        ga("send", "pageview");