<div class="social-buttons">
    <% if (config.oauth.google.enabled) { %>
    <a href="/auth/google" class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Sign in with Google
    </a>
    <% } %>
    <% if (config.oauth.reddit.enabled) { %>
    <a href="/auth/reddit" class="btn btn-block btn-social btn-reddit">
        <span class="fa fa-reddit"></span> Sign in with Reddit
    </a>
     <% } %>
    <% if (config.oauth.discord.enabled) { %>
    <a href="/auth/discord" class="btn btn-block btn-social btn-discord">
        <img src="https://discordapp.com/assets/28174a34e77bb5e5310ced9f95cb480b.png"> Sign in with Discord
    </a>
    <% } %>
    <% if (config.oauth.twitter.enabled) { %>
    <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span> Sign in with Twitter
    </a>
    <% } %>
    <% if (config.oauth.github.enabled) { %>
    <a href="/auth/github" class="btn btn-block btn-social btn-github">
        <span class="fa fa-github"></span> Sign in with Github
    </a>
    <% } %>
    <% if (config.oauth.facebook.enabled) { %> 
    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    <% } %>
</div>