body.fixed-navbar {
    padding-top: 50px;
    min-height: 100%;
}

@supports (backdrop-filter:none) or (-webkit-backdrop-filter:none) {
    nav.navbar {
        background: rgba(255,255,255,0.8);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        border-color: rgba(0, 0, 0, 0.07);
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        background-color: rgba(0, 0, 0, 0.07);
    }
}

.canvas-container {
    top: 0!important;
}

.canvas-container .control {
    margin-top: 50px;
}