body {
    font-family: -apple-system-font, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.fixed-navbar {
    padding-top: 64px;
}

.beta-label {
    font-size: 60%;
    text-transform: uppercase;
    position: relative;
    top: -2px;
}