body.fixed-navbar {
    padding-top: 50px;
    min-height: 100%;
}

@supports (backdrop-filter:none) or (-webkit-backdrop-filter:none) {
    nav.navbar {
        background: rgba(255,255,255,0.8);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
        border-color: rgba(0, 0, 0, 0.07);
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        background-color: rgba(0, 0, 0, 0.07);
    }
}

.footer {
    display: none;
}

body {
    overflow-y: hidden;
    touch-action: none;
}

.canvas-container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #ddd;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
}

#place-canvas {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#place-canvas-draw {
    opacity: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    height: 1000px;
    width: 1000px;
}

#zoom-controller {
    transform-origin: center;
    transform: scale(4, 4);
    z-index: 1;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    -webkit-transition: translate 250ms ease-out;
    -moz-transition: translate 250ms ease-out;
    transition: translate 250ms ease-out;
}

.zoomed > #zoom-controller {
    transform: scale(40, 40);
}

#zoom-controller.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#zoom-controller.selected {
    cursor: no-drop;
}

#zoom-controller.selected > #camera-controller {
    cursor: pointer;
}

#camera-controller {
    position: relative;
    height: 1000px;
    width: 1000px;
}

.button-ctn {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: 50px;
    z-index: 2;
}

#palette-ctn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    z-index: 2;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

#palette-ctn > .ctn-row {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
}

#palette-ctn > .ctn-row > .content {
    background: #fff;
    width: auto;
    border-radius: 10px;
    z-index: 2;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    box-sizing: content-box;
    margin: 0 1px;
    pointer-events: all;
}

#palette-ctn > .ctn-row > .content.compact {
    border-radius: 5px;
    padding: 5px 8px;
}

#palette {
    height: 34px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    position: relative;
}

#coordinates.supported {
    cursor: pointer;
}

#coordinates > span {
    font-weight: 600;
}

.colour-option {
    background: #fff;
    width: 26px;
    height: 26px;
    border-radius: 5px;
    margin: 4px;
    display: inline-block;
    cursor: pointer;
}

.colour-option.is-white {
    border: 1px solid rgb(200, 200, 200);
}

.colour-option.hand {
    position: absolute;
    top: 0; left: 0;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    z-index: 3;
    pointer-events: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0,0,0,0.05);
}

#palette > .overlay {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.95);
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

body.signed-in #palette > #sign-in-reminder, #palette > #placing-modal, #palette > #place-timer {
    display: none;
}

body.signed-in #palette > #placing-modal.shown, body.signed-in #palette > #place-timer.shown {
    display: flex;
}

@supports (backdrop-filter:none) or (-webkit-backdrop-filter:none) {
    #palette-ctn > .ctn-row > .content {
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    #palette > .overlay {
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
}

#grid-hint {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.zoomed > #grid-hint {
    height: 40px;
    width: 40px;
    display: none;
    z-index: 1;
}

#grid {
    position: absolute;
    width: 110vw;
    height: 110vh;
    background-size: 4px 4px;
    pointer-events: none;
    opacity: 0.5;
    background-image: linear-gradient(to right, #ccc 1px, transparent 1px), linear-gradient(to bottom, #ccc 1px, transparent 1px);
    top: 0;
    left: 0;
    display: none;
    transition: 250ms ease-out opacity;
    z-index: 1;
    background-position: -0.5px -0.5px;
}

#grid.show {
    display: block;
}

#grid.show.zooming {
    display: none!important;
}

#pixel-data-ctn {
    position: absolute;
    display: none;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: 25px;
}

.pixel-data {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    min-width: 275px;
    max-width: 500px;
	position: relative;
}

.pixel-data:after, .pixel-data:before {
	right: 100%;
	top: 40px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.pixel-data:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.pixel-data:before {
	border-color: rgba(211, 211, 211, 0);
	border-right-color: #d3d3d3;
	border-width: 11px;
	margin-top: -11px;
}

@media screen and (max-width: 750px) {
    .pixel-data:after, .pixel-data:before {
        bottom: 100%;
        left: 50%;
        right: initial; top: initial;
    }

    .pixel-data:after {
        border-right-color: transparent;
        border-bottom-color: #ffffff;
        margin-top: initial;
        margin-left: -10px;
    }
    .pixel-data:before {
        border-right-color: transparent;
        border-bottom-color: #d3d3d3;
        margin-top: initial;
        margin-left: -11px;
    }

    #pixel-data-ctn {
        margin-left: 0;
        transform: translateX(-50%);
        margin-top: 25px;
    }
    .pixel-data {
        width: 100%;
    }
}

.pixel-data .field {
    font-size: 15px;
    font-weight: 300;
}

.pixel-data .field::after, .pixel-data > .summary::after {
    content: '';
    display: block;
    clear: both;
}

.pixel-data .field > .title {
    font-weight: 600;
    float: left;
}

.pixel-data .field > .value {
    float: right;
    margin-left: 15px;
}

.pixel-data > .summary {
    padding: 14px 24px;
}

.pixel-data > .summary > .contents > .user-summary {
    float: left;
    margin-right: 20px;
}

.pixel-data > .summary > .contents > .pixel-coordinates {
    float: right;
}

.pixel-data > .summary > .intro {
    font-size: 12px;
    margin-bottom: -1px;
    display: block;
}

.pixel-data > .summary > .contents > .user-summary > .username-container {
    display: inline-block;
}

.pixel-data > .summary > .contents > .user-summary > .rank-container {
    margin-top: 5px;
    display: none;
}

.pixel-data > .summary > .contents > .user-summary > .username-container > .username {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    color: #000;
}

.pixel-data > .summary > .contents > .user-summary > .username-container > .username:hover {
    text-decoration: none;
}

.pixel-data > .summary > .contents > .user-summary > .username-container > .username[href]:hover {
    text-decoration: underline;
}

.pixel-data > .summary > .contents > .user-summary > .username-container > .username.deleted-account {
    font-style: italic;
}

.pixel-data > .summary > .contents > .user-summary > time {
    font-size: 13px;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    color: #777;
    margin-top: 3px;
}

.pixel-data > .user-info {
    border-radius: 0 0 8px 8px;
}

.pixel-data > .user-info, .pixel-data > #mod-user-action-ctn > .actions-ctn  {
    padding: 14px 24px;
    border-top: 1px solid #eaeaea;
    background: #FAFAF7;
}

.pixel-data > #mod-user-action-ctn > .actions-ctn {
    text-align: center;
}

.pixel-data > .user-info > .field {
    width: 100%;
}

#loading {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@-webkit-keyframes flair {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes flair {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


#loading .icon {
	-webkit-animation: flair 0.8s ease-in-out infinite both;
	-moz-animation: flair 0.8s ease-in-out infinite both;
	animation: flair 0.8s ease-in-out infinite both;
}

#loading .text {
    font-size: 21px;
    font-weight: 300;
    display: block;
    margin-top: 30px;
}



@supports (backdrop-filter:none) or (-webkit-backdrop-filter:none) {
    #loading {
        background: rgba(255,255,255,0.7);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px);
    }
}

#popout-container {
    width: 100%;
    max-width: 320px;
    margin-top: 50px;
    background: #fff;
    border-left: 1px solid #eee;
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    display: none;
}

.popout-open:not(.popped-out) #popout-container {
    display: flex;
}

#popout-container > .navigation-bar, #popout-container > .tabbar {
    align-self: flex-start;
    width: 100%;
    height: 51px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#popout-container > .navigation-bar .title {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    color: #333;
}

#popout-container > .navigation-bar .buttons {
    color: #999;
    text-align: right;
    margin-left: auto;
}

#popout-container > .navigation-bar .buttons > span {
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
    display: inline-block;
}

#popout-container > .tabbar {
    border-top: 1px solid #eee;
    border-bottom: none;
    padding: 0;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 2px;
}

#popout-container > .tabbar .tab {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #999;
    font-size: 22px;
    border-radius: 3px;
    cursor: pointer;
}

#popout-container > .tabbar .active {
    color: rgb(0, 127, 255);
    background: #eee;
    cursor: default;
}

#popout-container > .tabbar .tab {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

#popout-container > .content-ctn {
    flex: 1 0 0;
    position: relative;
}

#popout-container > .content-ctn > .tab-content {
    display: none;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#popout-container > .content-ctn > .tab-content.active {
    display: block;
}

#popout-container > .content-ctn > .tab-content .coming-soon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #b2b2b2;
}

#place {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.popout-btns {
    margin-top: 5px;
}

.popout-open .popout-btns {
    display: none;
}

.chat {
    padding: 0!important;
    flex-direction: column!important;
    justify-content: stretch!important;
}

.chat.active {
    display: flex!important;
}

.chat .messages {
    padding: 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex: 1 0 0;
}

.chat .text-field {
    padding: 10px;
    border-top: 1px solid #eee;
    display: none;
    align-items: center;
}

.signed-in .chat .text-field {
    display: flex;
}

.chat .text-field > input {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    outline: 0;
    flex: 1 0 0;
}

.chat .text-field > input:focus {
    border-color: #66afe9;
}

.chat .text-field > .send-btn {
    color: rgb(0, 127, 255);
    font-weight: 500;
    margin-left: 10px;
    font-size: 15px;
}

.chat .text-field > .send-btn[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.chat .text-field > .send-btn:hover {
    text-decoration: none!important;
}

.chat .message-ctn {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.chat .message-separator {
    display: block;
    width: 100%;
    height: 10px;
}

.chat .message-ctn:first-child {
    margin-top: 0;
}

.chat .message-ctn:last-child {
    margin-bottom: 0;
}

.chat .message {
    padding: 10px 13px;
    background: #efefef;
    border-radius: 8px;
    float: left;
    max-width: 200px;
    white-space: -moz-pre-wrap;    
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.chat .message-ctn.outgoing .message {
    background: rgb(0, 127, 255);
    color: #fff;
    float: right;
}

.chat .username, .chat .chat-coordinates {
    color: #777;
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 2px;
    display: inline-block;
    text-decoration: none!important;
}

.chat .username-ctn, .chat .chat-coordinates {
    display: block;
}

.chat .chat-coordinates {
    margin-bottom: 0;
    margin-top: 5px;
}

.chat .message-ctn.outgoing .chat-coordinates {
    text-align: right;
}

.chat .username[href]:hover, .chat .chat-coordinates[href]:hover {
    text-decoration: underline!important;
}

.chat .username.deleted-account {
    font-style: italic;
}

.chat .username > span {
    margin: 0 2px;
    text-decoration: none!important;
}
.chat .username > *:first-child {
    margin-left: 0;
}
.chat .username > *:last-child {
    margin-right: 0;
}

.chat .timestamp {
    color: #666;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}


@media(max-width: 600px) {
    #place {
        display: block;
        overflow: hidden;
    }

    .canvas-container {
        height: 100%;
        width: 100%;
    }

    #popout-container {
        position: absolute;
        display: flex;
        transition: 0.25s top ease-out;
        top: 100%;
        max-width: none;
        z-index: 99;
        margin: 0;
        height: 100%;
        padding-top: 50px;
        background: none;
    }

    #popout-container > * {
        background: #fff;
    }

    .popout-open:not(.popped-out) #popout-container {
        top: 0;
    }
}

#leaderboardTab .top-place {
    text-align: center;
    margin-bottom: 20px;
}

#leaderboardTab .top-place .big-icon {
    font-size: 75px;
    color: #999;
    display: block;
    margin: 20px auto;
}

#leaderboardTab .top-place .info {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#leaderboardTab .top-place .leader-info a.name {
    font-size: 20px;
    text-decoration: none!important;
}

#leaderboardTab .row-label, #leaderboardTab .pixel-label  {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: block;
    color: #888;
}

#leaderboardTab .pixel-label {
    font-size: 10px;
    margin-top: 7px;
    color: #777;
}

#leaderboardTab .stat {
    text-align: right;
}

#leaderboardTab .subdetails {
    margin-top: 5px;
}

#leaderboardTab table a {
    overflow: hidden;
    word-break: break-all;
    display: inline-block;
}

.bold {
    font-weight: 500;
}