#place-canvas {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

#place-canvas-draw {
    opacity: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.canvas-container {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #ddd;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#zoom-controller {
    transform-origin: center;
    transform: scale(4, 4);
    z-index: 1;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    -webkit-transition: translate 250ms ease-out;
    -moz-transition: translate 250ms ease-out;
    transition: translate 250ms ease-out;
}

#zoom-controller.zoomed {
    transform: scale(40, 40);
}

#zoom-controller.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#camera-controller {
    position: relative;
}

#zoom-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}