body {
  padding: 0!important;
}

.profile-header {
  background: #fff url("/api/board-image") no-repeat fixed center;
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
  image-rendering: pixelated;
  background-size: 4000px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.1s ease-out height;
  z-index: 20;
}

.profile-header .overlay {
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.45) 100%);
  position: absolute;
  z-index: 6;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.1s ease-out opacity;
  pointer-events: none;
}

.container {
  padding: 0 20px;
}

.profile-info {
  padding: 0 60px 60px;
  max-width: 1000px;
  width: 100%;
  background: #fff;
  box-shadow: 0 20px 40px 5px rgba(0,0,0,0.3);
  z-index: 51;
  position: relative;
  border-radius: 5px;
  margin: 187.5px auto 40px auto;
}

.has-pixel.profile-info {
  margin-top: 375px;
}

.profile-info > h1 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 20px;
}

.profile-info > hr {
  margin: 36px 0;
  border-color: #efefef;
}

.profile-info .user-header-info {
  padding-bottom: 30px;
  z-index: 8;
  position: relative;
  pointer-events: none;
  text-align: center;
  background: #f8f9fd;
  border-bottom: 1px solid #efefef;
  margin: 0 -60px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 35px;
}

@media(max-width: 1000px) {
  .profile-info {
    margin-bottom: 20px;
    padding: 0 40px 40px;
  }
  .profile-info .user-header-info {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media(max-width: 650px) {
  .profile-info {
    padding: 0 30px 30px;
  }
  .profile-info .user-header-info {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 25px;
    padding-bottom: 20px;
  }
  .profile-info > hr {
    margin: 20px 0;
  }
}

.profile-info .user-info > .username {
  font-size: 40px;
  font-weight: 300;
}

.profile-info .user-info > .username .badge-label {
  font-size: 13px;
  margin-left: 4px;
  top: -7px;
}
.profile-info .user-info > .username .badge-label:first-child {
  margin-left: 8px;
}

.profile-info .user-info {
  position: relative;
  align-self: center;
  top: -87.5px;
  margin-bottom: -87.5px;
}

.profile-info .user-details {
  font-size: 16px;
}

.profile-info .avatar {
  background: #fff;
  width: 175px;
  height: 175px;
  color: #009ef7;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.05);
  top: -87.5px;
}

.profile-info .user-info > .subdetails > div {
  display: inline-block;
  width: auto;
  text-align: right;
}

@media(max-width: 650px) {
  .profile-info > h1 {
    font-size: 26px;
  }
  .profile-info .user-info {
    top: -70px;
    margin-bottom: -70px;
  }
  .profile-info .avatar {
    height: 140px;
    width: 140px;
    top: -70px;
    font-size: 47px;
  }
  .profile-info .user-info > .username {
    font-size: 37px;
  }
  .profile-info .user-info > .username .badge-label {
    font-size: 13px;
  }
  .profile-info .user-info > .subdetails > div > .value {
    font-size: 21px;
  }
  .profile-info .user-info > .subdetails > div > .name {
    font-size: 9px;
  }
}

@media(max-width: 340px) {
  .profile-info > h1 {
    font-size: 24px;
  }
  .profile-info .user-info {
    top: -60px;
    margin-bottom: -60px;
  }
  .profile-info .avatar {
    height: 120px;
    width: 120px;
    top: -60px;
    font-size: 43px;
  }
  .profile-info .user-info > .username {
    font-size: 26px;
  }
  .profile-info .user-info > .username .badge-label {
    font-size: 11px;
  }
  .profile-info .user-info > .subdetails > div > .value {
    font-size: 19px;
  }
  .profile-info .user-info > .subdetails > div > .name {
    font-size: 8px;
  }
}

.footer {
  z-index: 50;
}