.input-group-vertical {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}
.form-group {
  margin-bottom: 0;
}
.form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}
.form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}
