#popout-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    margin: 0;
    max-width: none;
    padding: 0!important;
}

nav.navbar {
    display: none;
}

#popout-container > .navigation-bar .buttons > span.popout-btn {
    top: -1.5px;
    transform: rotate(180deg);
}