
extends ../layout
block dependencies
    - var pageTitle = "Server error"
block content
    .container.norctn
        h1 Server error
        p.text-muted.lead We're sorry, but we had trouble handling that request. Please try making it again, or #[a(href="https://github.com/dynastic/place/issues/new") open an issue] if it persists.
        a(href="/") &laquo; Go to home page