extends ../layout
block dependencies
    - var pageTitle = "Account Deactivated"
block content
    .container.norctn
        h1 Account Deactivated
        p.text-muted Sorry to see you go! Your account has been successfully deactivated. Thank you for using #{config.siteName}! To reactivate your account, just log back in.
        a(href="/") &laquo; Go to home page