extends ../layout
block dependencies
    - var pageTitle = "Reset your Password";
    - var css = ["/css/signin.css"];
    - if (typeof error === "undefined") error = null;
block content
    .container
        form.form-signin(method="POST", action="/force-pw-reset")
            input(type='hidden', name='_csrf', value=_csrf)
            h2.form-signin-heading Reset your Password
            p You are required to change your password to continue using #{config.siteName}.
            br
            label.sr-only(for="inputPassword") Password
            input.form-control#inputPassword(type="password", placeholder="Password", name="password", required, autofocus)
            label.sr-only(for="inputPasswordC") Password (again)
            input.form-control#inputPasswordC(type="password", placeholder="Password (again)", name="confirmPassword", required)
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Reset Password
            if error
                br
                .alert.alert-danger #[strong Uh oh!] #{error.message}