<%- include('../header.html', {
    pageTitle: "Community Guidelines"
}) -%>
<div class="container">
    <h1>Community Guidelines</h1>
    <p class="lead">These are a set of rules we believe you should follow when playing Place 2.0</p>
    <hr>
    <h3>No Gore</h3>
    <p>Do not share or post graphic images for sadistic pleasure, glorification or celebration of violence. Place 2.0 is targeted at many age ranges.</p>
    <h3>No offensive symbols or depictions</h3>
    <p>This includes swastika's, and any symbols relating to terrorism.</p>
    <h3>No targeted harassment</h3>
    <p>Please respect every player: do not threaten to harm another person or someone related to another person in any capacity, do not make art depecting others in a negative way.</p>
    <h3>No offensive words, phrases, or sentences</h3>
    <p>This includes excessive slurs, racism, and sexism.</p>
    <h3>Do not bot</h3>
    <p>The aim of Place 2.0 is a social game where everyone can hang out, and create cool art. We have anti-botting measures in place, so do not try and circumvent them.</p>
    <h3>Do not make alternate accounts</h3>
    <p>We limit all players to a single account; to ensure fairness for everyone accross the board.</p>
    <h3>Do not make accounts solely to grief</h3>
    <p>We welcome griefing to make space for new art, however, if you are not going to contribute anything other than trashing art, then you're not welcome here.</p>
</div>
<%- include('../footer.html') -%>