- var css = ["/css/compact.css", "/css/place.css"];
- var pinnable = true;
- var needsLegit = true;
- var pageDesc = "Work together to create something amazing. Join thousands of other users and see what happens when you share one huge canvas.";
include ../header
+getViewExtensions("main")
include views/place
unless user
    .dialog-ctn
        .dialog-overlay
        .dialog#sign-in-dialog
            .close &times;
            .pages
                .active(tab-name="sign-up")
                    .heading
                        span.site Place 2.0
                        h1 Become a member
                        p.subhead Join the Place 2.0 community today to start placing.
                    form.form-signin(action="/signup")
                        label.sr-only(for="inputUsername") Username
                        input.form-control#inputUsername(type="text", placeholder="Username", name="username", required, autofocus, autocorrect="off", autocapitalizae="off", spellcheck="false")
                        label.sr-only(for="inputPassword") Password
                        input.form-control.form-merge-top#inputPassword(type="password", placeholder="Password", name="password", required)
                        label.sr-only(for="inputPassword2") Password (again)
                        input.form-control.form-merge-bottom#inputPassword2(type="password", placeholder="Password (again)", name="passwordverify", required)
                        if captcha
                            .
                                !{renderCaptcha()}
                        if fs.existsSync("./config/community_guidelines.md")
                            .checkbox
                                label.
                                    #[input(type="checkbox", name="agreeToGuidelines")] #[span I agree to abide by the #[a(href="/guidelines") Community Guidelines].]
                        .send-section
                            button.btn.btn-popping(type="submit") Sign Up
                            include views/social-buttons
                div(tab-name="sign-in")
                    .heading
                        span.site Place 2.0
                        h1 Welcome back
                        p.subhead Sign in to your account to continue placing and save your stats.
                    form.form-signin(action="/signin")
                        label.sr-only(for="inputUsername") Username
                        input.form-control#inputUsername(type="text", placeholder="Username", name="username", required, autofocus, autocorrect="off", autocapitalizae="off", spellcheck="false")
                        label.sr-only(for="inputPassword") Password
                        input.form-control#inputPassword(type="password", placeholder="Password", name="password", required)
                        .send-section
                            button.btn.btn-popping(type="submit") Sign in
                            include views/social-buttons
            .switchers
                .active(tab-name="sign-up")
                    div
                        .description
                            span.headline Need an account?
                            span.action-label Sign up for an account
                        .call-to-action
                            a.btn.btn-popping.btn-arrow Sign Up
                div(tab-name="sign-in")
                    div
                        .description
                            span.headline Already a member?
                            span.action-label Sign in to your account
                        .call-to-action
                            a.btn.btn-popping.btn-arrow Sign In
- var js = ["/socket.io/socket.io.js", "https://cdn.jsdelivr.net/interact.js/1.2.6/interact.min.js", "https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js", "/js/build/popout.js", "/js/build/place.js", "https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
include ../footer