<div class="canvas-container">
    <%- include("views/pixel_data.html") %>
    <div id="zoom-button" class="control btn btn-default"></div>
    <div id="grid-hint"></div>
    <div id="palette-ctn">
        <div class="ctn-row">
            <div id="user-count" class="compact" style="display: none;"><i class="fa fa-user fa-fw"></i><span class="count"></span><i class="fa fa-circle-o-notch fa-spin fa-fw loading"></i></div>
            <div id="coordinates" class="compact" style="display: none;"><i class="fa fa-map-marker fa-fw"></i>(<span></span>, <span></span>)</div>
        </div>
        <div class="ctn-row">
            <div id="palette">
                <div class="overlay" id="sign-in-reminder">
                    <span><a href="/signin">Sign in</a> or <a href="/signup">sign up</a> to start placing!</span>
                </div>
                <div class="overlay" id="placing-modal">
                    <span>Placing…<span>
                </div>
                <div class="overlay" id="place-timer"><span></span></div>
            </div>
        </div>
    </div>
    <canvas id="place-canvas" height="100%" width="100%"></canvas>
    <div id="zoom-controller">
        <div id="camera-controller">
            <canvas id="place-canvas-draw" height="1000" width="1000"></canvas>
        </div>
    </div>
</div>