extends ../layout
block dependencies
    - var css = ["/css/place.css", "/css/popout.css"];
    - var js = ["https://unpkg.com/eventemitter3@latest/umd/eventemitter3.min.js", "/js/build/socket.js", "/js/build/popout.js", "https://cdn.jsdelivr.net/gh/rmm5t/jquery-timeago@180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
    - var pageTitle = "Popout";
    - var isPoppedOut = true;
block content
    include views/popout-container