extends ../layout
block dependencies
    - var css = ["/css/place.css", "/css/popout.css"];
    - var js = ["/js/build/popout.js", "https://cdn.rawgit.com/rmm5t/jquery-timeago/180864a9c544a49e43719b457250af216d5e4c3a/jquery.timeago.js"];
    - var pageTitle = "Popout";
    - var isPoppedOut = true;
block content
    include views/popout-container