<%- include('../header.html', {
    pageTitle: "Sign up",
    css: ["/css/signin.css"]
}) -%>
<%
if(typeof username === 'undefined') username = "";
if(typeof error === 'undefined') error = null;
%>
<div class="container">
    <form class="form-signin" method="POST">
        <h2 class="form-signin-heading">Sign up for Place 2.0</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" value="<%= username %>" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <label for="inputPassword2" class="sr-only">Password (again)</label>
        <input type="password" id="inputPassword2" class="form-control" placeholder="Password (again)" name="passwordverify" required>
        <% if(captcha) { %><%- renderCaptcha() %><br><% } %>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <a href="/signin" class="form-signin-link">I already have an account &raquo;</a>
        <% if(error) { %>
            <br><div class="alert alert-danger"><strong>Uh oh!</strong> <%= error.message %></div>
        <% } %>
        <%- include('views/social-buttons.html') -%>
    </form>
</div> <!-- /container -->
<%- include('../footer.html') -%>