doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9", xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance", xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9.xsd")
    url: loc #{config.host}/
    url: loc #{config.host}/signin
    url: loc #{config.host}/signup
    url: loc #{config.host}/guidelines